.title  
{
    display: flex;
    justify-content: center;
    

    font-weight: bolder;
    font-size: 100px;
    font-family: 'Indie Flower', cursive;
    color: white;

}

.subtitle
{
    display: flex;
    justify-content: center;
    margin-top: -50px;

    font-weight: bolder;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
    color: white;
}

.description_title
{
    display: flex;
    justify-content: center;
    margin-top: 50px;


    font-weight: bolder;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    color: white;
}

.description
{
    text-align: center;
    white-space: nowrap;

    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;

    font-weight: normal;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;

    color: white;
}

body
{
    background-color: black;
    background-image: url("Psychopath_Background.png");
    background-repeat: no-repeat;
    background-position: center;
}



.gamecontainer{
    display: flex;
    margin: auto;


    justify-content: space-evenly;

    justify-items: center;
    align-items:center;


    width:1000px;
    height:250px;
}

.gameitem
{
    display: flex;
    justify-content: center;
    align-content: center;

    background-color: white;
    
    width: 150px;
    height:150px;

    margin-left: 50px;
    margin-right: 50px;
}

.psychopath_icon
{

    display: flex;
    margin: auto;

    background-image: url("Psychopath_Icon.png");
    background-size: cover;

    width: 140px;
    height:140px;
}

.rockbreaker_icon
{
    display: flex;
    margin: auto;

    background-image: url("Rockbreaker_Icon.png");
    background-size: cover;

    width: 140px;
    height:140px;

}



/*특수효과*/
.fade_in
{

  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
